*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: arial, helvetica, sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
}

a {
	color: royalblue;
}

.is-hidden {
	opacity: 0;
	pointer-events: none;
}
